.about {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  width: 85vw;
  h1 {
    text-align: center;
    font-size: 2.5rem;
  }
  p {
    padding: 20px 0;
    font-size: 1.4rem;
  }
}

@media (min-width: 700px) {
  .about {
    span {
      float: right;
      clear: both;
      margin: 20px;
    }
    .bottom-image {
      float: left !important;
    }
  }
}
