.galleryContainer {
  h1 {
    text-align: center;
    margin: 10px 0;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    margin: 0 auto;
    // max-width: 1000px;
    padding: 0 20px;
    gap: 20px;
    .galleryImages {
      position: relative;
      height: 350px;
    }
  }
}
