// Palette One(Fail)
$Soft-Red : #E63946;
$Custom-White: #F1FAEE;
$Soft-Blue: #A8DADC;
$Moderate-Blue: #457B98;
$Dark-Blue: #1D3557;

// Palette Two
$Baby-Blue: #5BC0EB;
$Yellow: #FDE74C;
$Green: #9BC53D;
$Orange: #FA7921;
$Soft-Red-Two: #E55934;